header {
    background-color: rgb(6,56,6);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.main-content{
    text-align: center;
}

#couleur{
    text-align: center;
    display: flex;
    list-style: none;
}

.separation{
    background-color: red;
}

footer {
    background-color:rgb(6,56,6);
    color: #fff;
    text-align: center;
    padding: 10px;
}