body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 36px;
}
nav {
    background-color: rgb(6, 54, 6);
    text-align: center;
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}
.content {
    padding: 20px;
    text-align: center;
}
footer {
    background-color:rgb(6, 54, 6);
    color: #fff;
    text-align: center;
    padding: 10px;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    background-color:red;
}

body::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 15px;
}

#nueve{
    background-color: red;
}

